page-call {
  font-family: 'Cairo', sans-serif !important;
  background: url("../../assets/imgs/bg-home.jpg") no-repeat no-repeat top left !important;
  background-size: cover !important;
  height: 100vh !important;
  ion-content {
    background: transparent !important;
    ion-row {
      ion-col[col-12] {
        ion-card{
          background: color($colors,white) !important;
          border-radius: 8px;
          border:1px solid color($colors, dark);
          .list-ios > .item-block:first-child{border-top:none!important;}
          .list-ios > .item-block:last-child{ border-bottom: none!important;}
          .card-header-ios,.card-header-md{padding-bottom: 0!important;padding-top: 11px!important;font-weight: bold}
          .card-content-ios,.card-content-md{padding: 0!important;}
          .label-ios,.label-md{margin-bottom: 0!important;margin-top: 0!important;}
          ion-card-header{
            padding: 0 16px;
          }
          ion-card-content{
            background: transparent !important;

            ion-list{
              background: transparent !important;

              ion-item{
                background: transparent !important;
                margin: 0;
                padding-right: 0;
                ion-label{
                  margin: 0;
                  h5{
                    font-weight: 400;
                  }
                }
                ion-label:last-child{
                  padding-bottom: 11px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
