page-aboutus {
  font-family: 'Cairo', sans-serif !important;
  background: url("../../assets/imgs/bg-home.jpg") no-repeat no-repeat top left !important;
  background-size: cover !important;
  height: 100vh !important;
  ion-content {
    background: transparent !important;
    h5{
      padding-bottom: 0!important;
      margin-bottom: 0 !important;
    }
  }

}