page-aboutus {
  font-family: 'Cairo', sans-serif !important;
  background: url("../../assets/imgs/bg-home.jpg") no-repeat no-repeat top left !important;
  background-size: cover !important;
  height: 100vh !important;
  ion-content {
    background: transparent !important;
  }
}